<div class="flex items-center justify-center min-h-screen dark:bg-gray-900">
  <div class="login-container p-6">
    <mat-card class="login-card bg-white dark:bg-gray-800 text-white">
      <mat-card-header>
        <mat-card-title class="text-2xl font-bold">Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="login()" class="login-form">
          <div class="grid grid-cols-1 gap-4">
            <mat-form-field class="w-full">
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                class="w-full p-2 border rounded-md dark:bg-gray-700"
              />
              @if(form.get('email')?.invalid) {
              <mat-error>
                @if(form.get('email')?.hasError('required')) {
                <span>Email is required</span>
                } @else if (form.get('email')?.hasError('email')) {
                <span>Please enter a valid email address</span>
                }
              </mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-full">
              <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
                class="w-full p-2 border rounded-md dark:bg-gray-700"
              />
              @if(form.get('password')?.invalid){
              <mat-error>
                @if(form.get('password')?.hasError('required')){
                <span>Password is required</span>
                }
              </mat-error>
              }
            </mat-form-field>

            <div class="w-full">
              <button
                mat-raised-button
                color="primary"
                class="w-full bg-blue-500 text-white px-4 py-2 rounded-md dark:bg-blue-800"
                [disabled]="form.invalid"
              >
                Login
              </button>
            </div>
            <div class="w-full">
              <button
                type="button"
                color="primary"
                class="w-full bg-indigo-500 text-white px-4 py-2 rounded-md dark:bg-indigo-800"
                (click)="navigateReg()"
              >
                Register
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
