<!-- registration.component.html -->

<div class="registration-container">
  <mat-card class="registration-card">
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="registrationForm"
        (ngSubmit)="onSubmit()"
        class="full-width"
      >
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
          <div fxFlex="50%">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="User Name"
                formControlName="userName"
              />
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email" />
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Phone Number"
                formControlName="phoneNumber"
              />
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field class="full-width">
              <input matInput placeholder="NIC" formControlName="nic" />
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field class="full-width">
              <input matInput placeholder="Name" formControlName="name" />
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field class="full-width">
              <input matInput placeholder="Address" formControlName="address" />
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field class="full-width">
              <mat-select placeholder="Gender" formControlName="gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field class="full-width">
              <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
              />
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field class="full-width">
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Date of Birth"
                formControlName="dateOfBirth"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" type="submit">
          Register
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
