<!-- registration.component.html -->

<div class="flex items-center justify-center min-h-screen dark:bg-gray-900">
  <div class="registration-container p-6">
    <mat-card class="registration-card bg-white dark:bg-gray-800 text-white">
      <mat-card-header>
        <mat-card-title class="text-2xl font-bold">Registration</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form
          [formGroup]="registrationForm"
          (ngSubmit)="onSubmit()"
          class="full-width"
        >
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <mat-form-field class="w-full">
                <input
                  matInput
                  placeholder="User Name"
                  formControlName="userName"
                  class="w-full p-2 border rounded-md"
                />
                <mat-error
                  *ngIf="registrationForm.get('userName')?.errors?.['required']"
                  >User name is required</mat-error
                >
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full">
                <input
                  matInput
                  placeholder="Email"
                  formControlName="email"
                  class="w-full p-2 border rounded-md"
                />
                <mat-error
                  *ngIf="registrationForm.get('email')?.errors?.['required']"
                  >Email is required</mat-error
                >
                <mat-error
                  *ngIf="registrationForm.get('email')?.errors?.['email']"
                  >Please enter a valid email</mat-error
                >
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full">
                <input
                  matInput
                  placeholder="Phone Number"
                  formControlName="phoneNumber"
                  class="w-full p-2 border rounded-md"
                />
                <mat-error
                  *ngIf="registrationForm.get('phoneNumber')?.errors?.['required']"
                  >Phone Number is required</mat-error
                >
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full">
                <input
                  matInput
                  placeholder="NIC"
                  formControlName="nic"
                  class="w-full p-2 border rounded-md"
                />
                <mat-error
                  *ngIf="registrationForm.get('nic')?.errors?.['required']"
                  >NIC Number is required</mat-error
                >
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full">
                <input
                  matInput
                  placeholder="Name"
                  formControlName="name"
                  class="w-full p-2 border rounded-md"
                />
                <mat-error
                  *ngIf="registrationForm.get('name')?.errors?.['required']"
                  >Name is required</mat-error
                >
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full">
                <input
                  matInput
                  placeholder="Address"
                  formControlName="address"
                  class="w-full p-2 border rounded-md"
                />
                <mat-error
                  *ngIf="registrationForm.get('address')?.errors?.['required']"
                  >Address is required</mat-error
                >
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full">
                <mat-select
                  placeholder="Gender"
                  formControlName="gender"
                  class="w-full p-2 border rounded-md"
                >
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error
                *ngIf="registrationForm.get('gender')?.errors?.['required']"
                >Gender is required</mat-error
              >
            </div>
            <div>
              <mat-form-field class="w-full">
                <input
                  matInput
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                  class="w-full p-2 border rounded-md"
                />
                <mat-error
                  *ngIf="registrationForm.get('password')?.errors?.['required']"
                  >Password is required</mat-error
                >
                <mat-error
                  *ngIf="registrationForm.get('password')?.errors?.['minlength']"
                  >Password must be at least 8 characters</mat-error
                >
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full">
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Date of Birth"
                  formControlName="dateOfBirth"
                  class="w-full p-2 border rounded-md"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                  *ngIf="registrationForm.get('dateOfBirth')?.errors?.['required']"
                  >Date of birth is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <p class="mt-2 text-center text-gray-400 dark:text-gray-400">
            Already have an account?
            <a routerLink="/login" class="text-blue-400 dark:text-blue-500"
              >Login</a
            >
          </p>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="mt-4 w-full bg-blue-500 text-white px-4 py-2 rounded-md dark:bg-blue-800"
          >
            Register
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
