body {
  margin: 0;
  font-family: "Roboto", sans-serif; /* You can choose your preferred font */
  background-color: #f4f4f4; /* Set a background color for the entire application */
}

.container {
  max-width: 1200px; /* Set a maximum width for the content container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding to the container */
}

::ng-deep .success-snackbar {
  background-color: #4caf50; /* Green */
  color: #ffffff; /* White text for contrast */
}

::ng-deep .error-snackbar {
  background-color: #f44336; /* Red */
  color: #ffffff; /* White text for contrast */
}

::ng-deep .warning-snackbar {
  background-color: #ff9800; /* Orange */
  color: #ffffff; /* White text for contrast */
}
